*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #E8EEEA;
    display: flex;
    align-items: flex-start;
}



.side-navigation{
    
    float: left;
    height: 100%;
    position: fixed;
    width: 20%;
    font-weight: bold;
    background-color: #E1ECE5;
    
    

}

 .main-section{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: right;
    color: #011502 ;
    width: 80%;
    margin-left: 30%;
}

 .side-navigation .profile-picture{
    width: 30px;
    margin: 20px;
    margin-top: 40px;
}

.side-navigation .profile-picture img{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    
}

.side-navigation .mini-bio{
    font-size: 15px;
    font-weight: 400;
    width: 250px;
    margin-top: 10px;
    margin: 30px;
}

nav{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    


}

nav ul li {
    
    margin-top: 30px;
    font-size: 30px;
    margin-left: 60px;
    text-decoration: none;
    list-style-type: none;
}

nav ul li a:hover{
    color: #104F55;
   
}

nav ul li a{
    text-decoration: none;
    color: #011502;
}



.side-navbar{
    
    background-color: #E1ECE5;
}

.current{
    color: #32746D;
}

.social-media-icons{
  margin-top: calc(1vh/1vw);
   display: flex;
   justify-content: space-evenly;


}
.social-media-icons a {
    align-items: center;
}

.social-media-icons a img{
   width: 2vw;
}

.side-navigation .lets-connect p{
    margin-top: calc(1vh/1vw);
    text-align: center;
    font-size: 1.7vw;
}





.main-text{
    margin-right: 200px;
}

.main-section .main-logo-name h1{
    font-size: 50px;
    float: right;
    margin: 25px;
   
}

.main-page-title{
    margin-top: 100px;
    font-size: 30px;
    margin-left: 50px;
}




/*Project Entry*/
.project-entry{
    margin-bottom: 60px;
  
    margin-top: 40px;
    margin-left: 90px;
}

.project-entry .project-name{
    font-size: 25px;
}

.indentation{
    margin-left: 30px;
}

.project-entry .project-date{
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
    font-weight: 200;
}

.project-entry .project-role{
    font-size: 22px;
    margin-top: 10px;
}

.project-entry .project-description{
    letter-spacing: .65px;
    font-size: 18px;
    font-weight: 200;
    margin-top: 10px;
    font-size: 19px;
    
}

.project-entry .project-link{
    margin-top: 10px;
}

.project-entry .project-link p a{
    color: #104F55;
    font-size: 18px;
   
}

/*Blog Content*/
.blog-content{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 100px ;
    margin-top: 30px;
    margin-right: 250px;

}

.blog-post-title{
    
    margin-bottom: 30px;
}

.blog-content .blog-post-title a h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-decoration: underline, none,  #104f55 ;
}

.blog-post-title a:link{
color:#104f55 ; 
}


.blog-content .blog-post-title a h2:hover{
    color: #104f55;
}

.blog-content .blog-post-title .blog-post-date{
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    
}

a:visited{
    color:#01200f;
}

.blog-content .blog-post-title .blog-post-blurb{
    font-weight: 200;
    letter-spacing: .75px;

}



/*Media Queries*/
@media screen and (max-width: 991px) {
    /* start of large tablet styles */
   
    
}

@media screen and (max-width: 990px) {
    /* start of medium tablet styles, when width is less than or equal to 990 */

   
    
    
}

    
@media screen and (max-width: 479px) {
    /* start of phone styles */

   
   
    
    
}