*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #E8EEEA;
    display: flex;
    align-items: flex-start;
}



.side-navigation{
    float: left;
    height: 100%;
    position: fixed;
    width: 20%;
    font-weight: bold;
    background-color: #E1ECE5;
    display: flex;
    flex-direction: column;
    
    

}

 

 .side-navigation .profile-picture{
    align-self: center;
    margin: 20px;
    margin-top: 40px;
}

.side-navigation .profile-picture img{
    object-fit: cover;
    border-radius: 50%;
    width: 10vw;
}

.side-navigation .mini-bio{
    font-size: 1vw;
    font-weight: 400;
    margin: 10%;
    
}

nav{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    
}

nav ul li {
    margin-top: 5%;
    font-size: 2vw;
    text-decoration: none;
    list-style-type: none;
    align-content: center;
}

nav ul li a:hover{
    color: #104F55;
   
}

nav ul li a{
    text-decoration: none;
    color: #011502;
}



.side-navbar{
    
    background-color: #E1ECE5;
}

.current{
    color: #32746D;
}

.side-navigation .social-media-icons{
   margin-top: calc(1vh/1vw);
   display: flex;
   justify-content: space-evenly;



}
.social-media-icons a {
    align-items: center;
    
}

.social-media-icons a img{
   width: 2vw;
}

.side-navigation .lets-connect p{
    margin-top: 5%;
    text-align: center;
    font-size: 1.7vw;
    
}



.main-section{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: right;
    color: #011502 ;
    width: 80%;
    margin-left: 25%;
    
}

.main-text{
   margin-right: 10%;
}

.main-section .main-logo-name h1{
    font-size: 2.7vw;
    float: right;
    margin: 2%;
   
}

.main-page-title{
    margin-top: 10%;
    margin-left: 50px;
}




/*Project Entry*/
.project-entry{
    margin-bottom: 60px;
    margin-top: 40px;
    margin-left: 100px;

}

.project-entry .project-name{
}

.indentation{
    margin-left: 50px;
}

.project-entry .project-date{
    margin-top: 10px;
    font-style: italic;
    font-weight: 200;
}

.project-entry .project-role{
    margin-top: 10px;
}

.project-entry .project-description{
    letter-spacing: .65px;
    font-weight: 200;
    margin-top: 10px;
    max-width: 75%;
    
}

.project-entry .project-link{
    margin-top: 10px;
}

.project-entry .project-link p a{
    color: #104F55;
   
}

/*Blog Content*/
.blog-content{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 100px ;
    margin-top: 30px;
    margin-right: 250px;

}

.blog-post-title{
    
    margin-bottom: 30px;
}

.blog-content .blog-post-title a h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-decoration: underline, none,  #104f55 ;
}

.blog-post-title a:link{
color:#104f55 ; 
}


.blog-content .blog-post-title a h2:hover{
    color: #104f55;
}

.blog-content .blog-post-title .blog-post-date{
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    
}

a:visited{
    color:#01200f;
}

.blog-content .blog-post-title .blog-post-blurb{
    font-weight: 200;
    letter-spacing: .75px;

}



/*Media Queries*/
@media screen and (max-width: 991px) {
    /* start of large tablet styles */
   
    
}



    
@media screen and (max-width: 479px) {
    /* start of phone styles */

   
   
    
    
}